body {
    background-color: lightpink;
}
h1 {
    color: white;
    padding: 50px;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
    font-size: 46px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h2 {
    padding: 20px;
    text-shadow: pink 0.1em 0.1em 0.2em;
}
p {
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 16px;
    padding: 20px;

}
img {
	float: left;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 15px;

    shape-outside: circle();
    shape-margin: 15px;
}
.main {
    background-color: beige;
    padding: 20px;
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;

}
.bold {
    font-weight: bold;
}
.em {
    font-style: italic;
}
.box {
    background-color: white;
}
